<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rango</title>
</head>
<body>
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                    {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <stong>No pages currently in category.</stong>
            {% endif %}
        {% else %}
            The specifies category does not exist!
        {% endif %}
    </div>
<a href="/rango/">Rango Index</a>


</body>
</html>