<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rango - Category</title>
</head>
<body>
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                    {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <stong>No pages currently in category.</stong>
            {% endif %}
        {% else %}
            The specifies category does not exist!
        {% endif %}
    </div>
    <div>
    {% if category %}
        <a href="/rango/category/{{category.slug}}/add_page/">Add Page</a> <br/>
    {% endif %}
    <a href="/rango/">Rango Index</a>
    </div>

</body>
</html>